@charset "UTF-8";
body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

li,
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #000;
}

input,
textarea,
select,
* {
  outline: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.itemlist li{
    background-image:url(../images/bg1.png);
    background-repeat:no-repeat;
    background-size: 100%;
    
}
.text-right {
  text-align: right;
}

.nowarp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.positionb img{
    
      box-shadow: 0px 8px 15.2px 0.8px rgba(0, 0, 0, 0.28);
}
.line2,
.line4,
.line3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.w100 {
  width: 100%;
  max-height: 100%;
}

.maxh100 {
  max-height: 100%;
}

.fon36 {
  font-size: 36px;
}

.fon32 {
  font-size: 32px;
}

.fon30 {
  font-size: 30px;
}

.fon26 {
  font-size: 26px;
}

.fon24 {
  font-size: 24px;
}

.fon22 {
  font-size: 22px;
}

.fon20 {
  font-size: 20px;
}

.fon18 {
  font-size: 18px;
}

.fon16 {
  font-size: 16px;
}

.fon14 {
  font-size: 14px;
}

.fon12 {
  font-size: 12px;
}

.trans {
  transition: 0.3s linear all;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.positionr {
  position: relative;
}

.positionb {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.visible-hidden {
  visibility: hidden;
}

.color9 {
  color: #999;
}

.color6 {
  color: #666;
}

.color3 {
  color: #333;
}

.padding40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.overflow-hidden {
  overflow: hidden;
}

.color-org {
  color: #ff980f;
}

.colorp {
  color: #ffecf2;
}

.colororg {
  color: #f6bcb5;
}

.fonar {
  font-family: Arial, Helvetica, sans-serif;
}

/*图片翻转动画*/
.transy {
  cursor: pointer;
}

.transy img,
.transy i {
  transition: ease-in-out 0.3s;
}

.transy:hover img,
.transy:hover i {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

/*图片放大*/
.scale {
  overflow: hidden;
}

.scale img,
.scale .scales div {
  transition: 0.5s linear all;
}

.scale:hover img,
.scale:hover .scales div {
  transform: scale(1.1);
}

.swiper-slide {
  cursor: pointer;
}

.flex-nowarp {
  flex-wrap: nowrap;
}

.flex-end {
  align-items: center;
  justify-content: flex-end;
}

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: .5s linear all;
}

header.active {
  background: rgba(0, 0, 0, 0.5);
}

.header {
  justify-content: space-between;
  padding: 21px 80px;
  color: #fff;
  align-items: center;
}

.header a {
  color: #fff;
  transition: .3s linear all;
}

.header a:hover {
  text-decoration: underline;
}

.header .nav-right {
  width: 45%;
  justify-content: space-between;
  padding-top: 4px;
}

.header .nav-right ul {
  width: calc(100% - 130px);
  justify-content: space-between;
}

.new-banner-txt {
  width: 35.41%;
}

.max1440 {
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
}

.bgf {
  background: #fff;
}

.padding70 {
  padding: 70px 0;
}

.padding30 {
  padding: 30px;
}

.just-between {
  justify-content: space-between;
}

.news .new-left {
  width: 60%;
}

.news .news-right {
  width: 37%;
}

.news .dy-txt {
  height: 30px;
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  width: 100%;
  margin: 40px 0;
  border-radius: 0;
}

.news .news-btn {
  width: 126px;
  height: 40px;
  border: 0;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.news .news-btn:hover {
  background: #fff;
  color: #333;
}

.news .new-right-zgh {
  padding-top: 45px;
}

.news .new-code {
  padding-top: 10px;
}

.news .news-con {
  padding-top: 20px;
}

.news .title {
  padding: 10px 0;
}

.news .news-more {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 135px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  transition: .3s linear all;
}

.news .news-more:hover {
  background: #000;
  color: #fff;
}

.news .newslist li {
  margin-bottom: 50px;
}

.boxshadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.page {
  padding: 60px 0 0 0;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.page a {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  padding: 0 5px;
}

.page a:hover, .page a.cur {
  border: 1px solid #000;
}

.page a.page-prev-next {
  width: auto;
}

.colorf {
  color: #fff;
}

footer {
  color: #a3a3a3;
}

footer a {
  color: #a3a3a3;
}

footer a:hover {
  color: #a3a3a3;
  text-decoration: underline;
}

footer .bg0 {
  background: #081012;
  padding: 60px  0;
}

footer::before {
  display: block;
  content: '';
  width: 100%;
  height: 16px;
  background: url(../images/footer-line.jpg) no-repeat;
  background-size: cover;
}

.footer .footer-left {
  width: 27%;
  text-align: left;
}

.footer .footer-right {
  width: 62.5%;
}

.footer .colorf {
  color: #fff;
}

.footer dt {
  margin-bottom: 20px;
}

.footer dt a {
  font-size: 24px;
  color: #fff;
}

.footer dd {
  line-height: 2;
}

.footer .dy-form {
  padding: 40px 0;
}

.footer .dy-txt {
  width: 60%;
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  background: none;
  height: 56px;
}

.footer .news-btn {
  width: 35%;
  background: #3a3f42;
  height: 56px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  border: 1px solid #3a3f42;
}

.footer .news-btn:hover {
  background: none;
  color: #fff;
}

.news-detail .newdetail-title {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.news-detail .detail-title {
  padding: 5px 0;
}

.news-detail .newdetail-con {
  padding-bottom: 60px;
}

.news-perv-next .prev {
  background: url(../images/news-left.png) no-repeat left center;
  padding: 10px 0 10px 40px;
  transition: .3s linear all;
}

.news-perv-next .prev:hover {
  background: url(../images/news-left1.png) no-repeat left center;
}

.news-perv-next .next {
  background: url(../images/news-right.png) no-repeat right center;
  padding: 10px 40px 10px 0;
  margin-left: 30px;
  transition: .3s linear all;
}

.news-perv-next .next:hover {
  background: url(../images/news-right1.png) no-repeat right center;
}

.about-banner-p {
  padding: 20px 0;
}

.about::before {
  position: absolute;
  content: '';
  background: url(../images/about-bg1.png) no-repeat left top;
  width: 478px;
  height: 379px;
  left: 0;
  top: 0;
}

.about {
  padding: 70px 0 0 0;
}

.about h2 {
  padding: 10px 0;
}

.about .minh250 {
  min-height: 250px;
}

.about .list1 li {
  width: 16.66%;
  text-align: center;
}

.about .list1 .history-img {
  margin-bottom: 15px;
}

.about .list1 {
  width: 84%;
  margin: 40px auto;
}

.about .list2 li {
  width: 14%;
  text-align: center;
}

.about .list-line {
  margin: 30px 0;
  height: 28px;
  background: url(../images/history-sanjiao.png) no-repeat right center;
}

.about .list2 .history-img {
  margin-top: 15px;
}

.about .hezuo-list {
  padding: 30px 0;
}

.about .hezuo-list li {
  padding: 10px 20px;
}

.about .addess-city {
  padding: 15px 0 15px 30px;
  background: url(../images/icon-dw.png) no-repeat left center;
}

.about .address-txt {
  padding-top: 15px;
  word-break: break-all;
}

.about .address li {
  width: 24%;
}

.about .about-contact {
  background: url(../images/about-contact-bg.jpg) no-repeat center;
  background-size: cover;
}

.about .about-contact-left, .about .about-contact-right {
  width: 33%;
}

.about .dy-form {
  max-width: 386px;
  margin: 0 auto;
}

.about .dy-txt {
  width: 60%;
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  background: none;
  height: 56px;
  color: #fff;
}

.about .news-btn {
  width: 35%;
  background: #3a3f42;
  height: 56px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  border: 1px solid #3a3f42;
}

.index .before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: url(../images/index-bg2.png) no-repeat left 70px;
  background-size: contain;
  z-index: 1;
}

.index {
  background: url(../images/index-bg1.jpg) no-repeat right 140px;
}

.index .w48 {
  width: 48.6%;
}

.index .index-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 50px;
}

.index .index-more {
  width: 150px;
  line-height: 48px;
  border-radius: 5px;
  background: #2a3432;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 1px solid #2a3432;
  transition: .3s linear all;
}

.index .index-more:hover {
  background: #fff;
  color: #2a3432;
}

.index .index-item2-img {
  margin: 20px  0 120px;
}

.index .item2-left {
  width: 40.6%;
}

.index .item2-right {
  width: 48%;
}

.index .al-center {
  align-items: center;
}

.index .index-item2-more {
  width: 170px;
  line-height: 54px;
  text-align: center;
  border-radius: 5px;
  background: #2a3432;
  color: #fff;
  display: inline-block;
  border: 1px solid #2a3432;
}

.index .index-item2-more:hover {
  background: none;
  color: #2a3432;
}

.index .index-item2-p {
  padding: 20px 0 40px 0;
}

.index .index-bg3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/index-bg3.png) no-repeat center bottom;
  background-size: contain;
}

.zindex3 {
  z-index: 3;
}

.star-news {
  background: url(../images/index-news-bg.jpg) no-repeat center;
  background-size: cover;
}

.star-news .swiper-pagination-active {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
}

.star-news .swiper-pagination-active .swiper-pagination-bullet {
  border-radius: 0;
  width: 40px;
  height: 3px;
  background: #434648;
}

.news-swiper .swiper-pagination-active {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
}

.news-swiper .swiper-pagination-active .swiper-pagination-bullet {
  border-radius: 0;
  width: 40px;
  height: 3px;
  background: #cccccc;
}

.new-tit {
  padding-bottom: 70px;
}

.index-new-list li {
  background: #353638;
  transition: .3s linear all;
}

.index-new-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}

.index-new-list .news-more {
  font-size: 0;
  width: 30px;
  height: 30px;
  background: url(../images/index-more-btn.png) no-repeat center;
  display: inline-block;
}

.index-new-list .news-more:hover {
  background: url(../images/index-more-btn-hover.png) no-repeat center;
}

.index-new-list .news-con {
  padding: 30px;
}

.index-new-list .title {
  min-height: 56px;
}

.index-news-more {
  width: 170px;
  display: inline-block;
  line-height: 50px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #fff;
}

.index-news-more:hover {
  background: none;
  color: #fff;
}

.hezuo-index {
  padding: 130px 0;
  background: url(../images/index-hz-bg.jpg) no-repeat center bottom;
  background-size: contain;
}

.hezuo-index .hz-tit {
  padding-bottom: 130px;
}

.hezuo-index .hezuo-list {
  justify-content: center;
}

.hezuo-index .hezuo-list li {
  padding: 10px 15px;
}

.hezuo-index .hezuo-list li img {
  -webkit-filter: grayscale(1);
  /* Webkit */
  filter: #969696;
  /* IE6-9 */
  filter: grayscale(1);
  /* W3C */
}

.star-news2 {
  background: url(../images/index-new-c-bg.png) no-repeat center bottom;
  background-size: 80%;
  bottom: -60px;
  top: auto;
}

.pagebg0 {
  background: #000;
}

.product-item1 .product-item1-left {
  width: 63%;
  max-width: 972px;
  margin-left: 7%;
}

.product-item1 .product-item1-right {
  width: 29%;
}

.product-item1 .item-pad {
  margin: 50px 0;
}

.margin0-auto {
  display: block;
  margin: 0 auto;
}

.li-padding {
  padding: 20px 30px;
}

.itemlist .item-pad {
  justify-content: space-between;
}

.itemlist li {
  width: 30%;
  background-image:url(../images/bg1.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.baseline {
  align-items: baseline;
}

.product-item2 {
  width: 44%;
}

.product-item2 li {
  width: 46%;
}

.item2-w45 {
  width: 45%;
}

.c-gray {
  color: #ccd2d8;
}

.product-large-list li {
  width: 33.333%;
}

.product-large-list .fon26 {
  margin-bottom: 5px;
}

.product-large-list .large-con {
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.al-center {
  align-items: center;
}

.cj-list .cj-con {
  width: 35%;
}

.cj-list .cj-img {
  width: 48%;
}

.cj-list li {
  margin-bottom: 130px;
}

.cj-list li:nth-child(2n) {
  flex-direction: row-reverse;
}

.cj-list li:last-child {
  margin-bottom: 0;
}

.text-just {
  text-align: justify;
}

.lineh2 {
  line-height: 2;
}

.r-contact {
  max-width: 1260px;
  margin: 0 auto;
}

.r-contact .contact-left {
  width: 45%;
}

.r-contact .contact-right {
  width: 50%;
}

.r-contact .contact-btn {
  border: 1px solid #b4b4b4;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  width: 154px;
  display: inline-block;
  background: #535353;
}

.r-contact .contact-btn:hover {
  background: none;
}

.colorb {
  color: #4090fe;
}

.guige-table td {
  padding: 10px  5px;
}

.guige-table .c-gray {
  color: #a3a3a3;
}

.guige-table {
  width: 100%;
}

.bg0 {
  background: #000;
}

.video-master {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.video {
  max-width: 1000px;
  width: 90%;
  background: #000;
  animation-delay: 1.5s;
}

.close-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  cursor: pointer;
}

.tv-list li {
  padding: 30px 20px 160px 20px;
  background: #2c2f30;
  border-radius: 15px;
}

.tv-list .item-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;

}

.minh144 {
  min-height: 144px;
}

.tv-banner .w36 {
  width: 36%;
}

.tv-video-name {
  padding: 5px 0;
}

.max900 {
  max-width: 900px;
  margin: 0 auto;
  width: 95%;
}

.mrlist li {
  width: 13.5%;
  cursor: pointer;
}

.mrlist li .mr-list-img {
  background: #041938;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: .3s linear all;
}

.mrlist li:hover .mr-list-img {
  background: #092250;
}

.yj-list {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.yj-list li {
  width: 14%;
}

.contact-tv {
  height: 80vh;
  background: url(../images/contact-tv-bg.png) no-repeat center bottom;
  background-size: contain;
}

#tv4 {
  padding-bottom: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle-green {
  width: 4.8%;
  padding-bottom: 4.8%;
  background: #93ca39;
  left: 6%;
  bottom: 10%;
}

.tv-case-img {
  position: absolute;
  width: 35%;
  right: 0;
  bottom: -10%;
}

.zindex-3 {
  position: relative;
  z-index: 3;
}

.large-bg {
  background: url(../images/tv-bg2.png) no-repeat center bottom;
  background-size: contain;
}

.circle-right {
  width: 18%;
  border-radius: 50%;
  padding-top: 18%;
  background: #4f88e9;
  position: absolute;
  left: -10%;
  top: -10%;
}

.video-masters {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .header .nav-right {
    width: 65%;
  }
  .fon32 {
    font-size: 28px;
  }
  .fon18 {
    font-size: 16px;
  }
  .fon30 {
    font-size: 24px;
  }
  .about {
    padding: 30px 0 0 0;
  }
  .padding70 {
    padding: 30px 0;
  }
  .fon36 {
    font-size: 26px;
  }
  .about .list1 {
    width: 100%;
  }
  .minh144 {
    min-height: 135px;
  }
  .video-masters {
    background: rgba(0, 0, 0, 0.5);
  }
  .video-masters img {
    max-width: 60px;
  }
}

@media (max-width: 1024px) {
  .fon24 {
    font-size: 20px;
  }
  .header {
    padding: 15px 20px;
  }
  .product-item1 .product-item1-left {
    margin-left: 0;
    width: 70%;
  }
}
